:root {
  --green: #003518;
  --box-shadow: 1px 1px 2px var(--green);
  --nav-height: 75px;
  --border-radius: 5px;
}

html {
  height: 100%;
}

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  overflow: hidden;
  letter-spacing: 0.1rem;
}

#header {
  font-size: 1.8rem;
}

#nav {
  background-color: var(--green);
  color: white;
  font-size: 1.4rem;
  height: var(--nav-height);
}

#follower {
  position: absolute;
  display: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: white;
  font-size: 1.4rem;
}

#info {
  font-size: 1rem;
}

.crosshair {
  cursor: crosshair;
}

.grabbing {
  cursor: grabbing;
}

.link {
  display: inline-block;
  margin-left: 2rem;
}

.link a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.link a:hover {
  color: var(--green);
  background-color: white;
  border-radius: var(--border-radius);
}

.active a {
  border-bottom: 1px solid white;
}

.card {
  font-size: 2.6rem;
  background-color: lightgreen;
  display: inline-block;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.header {
  font-size: 2rem;
}
