:root {
  --green: #003518;
  --box-shadow: 1px 1px 2px var(--green);
  --nav-height: 75px;
  --border-radius: 5px;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  font-size: 1.4rem;
}

ul {
  padding-inline: 0;
}

#graph {
  overflow: hidden;
}

#header {
  font-size: 1.8rem;
}

#follower {
  position: absolute;
  display: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: white;
  font-size: 1.4rem;
}

#info {
  font-size: 1rem;
}

.crosshair {
  cursor: crosshair;
}

.grabbing {
  cursor: grabbing;
}

.card {
  font-size: 1.6rem;
  background-color: lightgreen;
  display: inline-block;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.header {
  font-size: 2rem;
}

.wrapper {
  margin: 4rem 1rem 1rem 1rem;
}

.special {
  padding: 1.5rem;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.img-wrapper {
  border-radius: 5px;
  padding: 1rem;
  font-size: 0.8rem;
  margin: 0;
}

.constant {
  color: blue;
}

.full-name {
  display: none;
}
.short-name {
  display: initial;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {
  .full-name {
    display: initial;
  }
  .short-name {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper {
    margin: 4rem 14rem 14rem 14rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper {
    margin: 4rem 18rem 18rem 18rem;
  }
}
