:root {
  --green: #003518;
  --box-shadow: 1px 1px 2px var(--green);
  --nav-height: 95px;
  --border-radius: 5px;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

#graph {
  overflow: hidden;
}

#follower {
  position: absolute;
  display: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: white;
  font-size: 1.4rem;
}

#info {
  font-size: 1rem;
}

.crosshair {
  cursor: crosshair;
}

.grabbing {
  cursor: grabbing;
}

.card {
  font-size: 1.6rem;
  background-color: lightgreen;
  display: inline-block;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.wrapper {
  max-width: 800px;
  margin: 2rem 1rem 1rem 1rem;
}

.special {
  padding: 1.5rem;
  background-color: black;
  color: white;
  border-radius: var(--border-radius);
}

.img-wrapper {
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: 0.8rem;
  margin: 0;
}

.constant {
  color: blue;
}

.question-container {
  margin-top: 3rem;
}

.question-container .question {
  font-style: italic;
  font-size: 1.2rem;
}

.question-container .answer {
  margin-top: 2rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper {
    margin: inherit 14rem 14rem 14rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper {
    margin: inherit 18rem 18rem 18rem;
  }
}
